Service/telBookService/WCFTestClient/Service References/PhonebookService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/telBookService" />
  <xs:element name="submitkontakt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/telBookService" minOccurs="0" name="kontakt" nillable="true" type="q1:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="submitkontaktResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getContacts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/telBookService" minOccurs="0" name="getContactsResult" nillable="true" type="q2:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>