Service/telBookService/WCFTestClient/Service References/PhonebookService/telBookService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/telBookService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/telBookService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="first" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="submitter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
</xs:schema>